<html>
  <head>
    <title>{{title}}</title>
    <style>
      .main {
        width: 1000px;
        background-color: red;
        color: green;
        padding: 20px;
        font-size: 30px;
      }
    </style>
  </head>
  <body>
    {%for n in clist%}
    <div class="main">hello</div>
    {% endfor %}

    <table border="1" cellpadding="10">
      <tr>
        <th>Name</th>
        <th>Phone Number</th>
      </tr>
      {%for d in student_details%}
      <tr>
        <td>{{d.name}}</td>
        <td>{{d.Phone}}</td>
      </tr>
      {%endfor%}
    </table>

    {% for n in numbers %} {%if n > 20 %}
    <div>{{n}}</div>
    {% endif %} {%endfor%}
  </body>
</html>
